html {
	scroll-behavior: smooth;
}
.App {
  text-align: center;
}

.btn {
	height: 30px;
	width: 120px;
	border-radius: 5px;
	margin: 5px;
	cursor: pointer;
}
.btn_bet {
	height: 30px;
	width: 750px;
	border-radius: 5px;
	margin: 5px;
	cursor: pointer;
}
.btn-logout {
	height: 30px;
	width: 120px;
	border-radius: 5px;
	margin: 3px;
	top: 0;
	cursor: pointer;
}
.btn_category {
	height: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* width: 1360px; */
	width: 96vw;
	height: 150px;
	font-size: 50px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
	cursor: pointer;
}
.btn:hover{
	background-color: aqua;
}
.btn_bet:hover{
	background-color: aqua;
}
.btn-logout:hover{
	background-color: aqua;
}
.btn_category:hover{
	background-color: maroon;
}
table {
  width: 100%
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: center;
}
#nav {
	width: 100%;
	top: 0;
	position: fixed;
	margin: 0 0 3em 0;
	padding: 0;
	list-style: none;
	background-color: maroon;
}
#nav ul {
	top: 0;
}

#nav li {
	float: left;
	display: block;
	padding: 3px 15px;
	text-decoration: none;
	font-weight: bold;
	color: aqua;
	border-right: 1px solid #ccc;
}
.matchup_container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.matchup_card {
	justify-content: center;
	border-style: solid;
	border-width: 2px;
	border-color: chartreuse;
	margin-top: 100px;
	width: 800px;
}
.team_column {
	width: 140px;
}
.fas{
	font-size: 22px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 0px;
	padding-bottom: 0px
}
.login-form{
	height: 1000px;
}
.main-container{
	margin-top: 70px;
}
.wager-form-container{
	margin-top: 70px;
}
.profile{
	margin-top: 70px;
}