.App {
  text-align: center;
}

.btn {
	height: 30px;
	width: 120px;
	border-radius: 5px;
	margin: 5px;
	cursor: pointer;
}
.btn:hover{
	background-color: aqua;
}
table {
  width: 50%
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: left;
}
#nav {
	width: 100%;
	float: left;
	margin: 0 0 3em 0;
	padding: 0;
	list-style: none;
}
#nav li {
	float: left; 
		display: block;
		padding: 8px 15px;
		text-decoration: none;
		font-weight: bold;
		color: #069;
		border-right: 1px solid #ccc;}