html {
	scroll-behavior: smooth;
}
.App {
  text-align: center;
}

.btn-add {
	height: 30px;
	width: 120px;
	border-radius: 5px;
	margin: 5px;
	cursor: pointer;
	background: linear-gradient(to right, #041B15, #16C172);
	font-family: 'Exo 2', sans-serif;
	font-size: 18px;
	/* color: white; */
}
.btn {
	height: 30px;
	width: 120px;
	border-radius: 5px;
	margin: 5px;
	cursor: pointer;
	background: linear-gradient(to right, #041B15, #16C172);
	font-family: 'Exo 2', sans-serif;
	font-size: 18px;
	/* color: white; */
}
.btn_bet {
	height: 30px;
	width: 750px;
	border-radius: 5px;
	margin-top: 18px;
	cursor: pointer;
	background: linear-gradient(to right, rgb(8, 81, 76), rgba(22, 193, 190, 0.681));
	font-family: 'Exo 2', sans-serif;
	color: white;
	text-shadow:
	-0.55px -0.55px 0 rgb(0, 0, 0),
	0.5px -0.5px 0 rgb(0, 0, 0),
	-0.55px 0.55px 0 rgb(0, 0, 0),
	0.5px 0.5px 0 rgb(0, 0, 0);
	font-size: 18px;
}
.btn_money {
	height: 30px;
	width: 200px;
	border-radius: 5px;
	margin-top: 18px;
	cursor: pointer;
	background: linear-gradient(to right, rgb(5, 65, 17), rgba(15, 242, 87, 0.681));
	font-family: 'Exo 2', sans-serif;
	font-size: 18px;
}
.btn-logout {
	cursor: pointer;
}
.btn_category {
	height: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 96vw;
	height: 150px;
	font-size: 50px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
	cursor: pointer;
	background: linear-gradient(to right, rgb(4, 27, 21), rgba(22, 193, 113, 0.681));
	font-family: 'Exo 2', sans-serif;
	font-weight: bold;
	text-shadow:
		-1px -1px 0 rgb(252, 250, 250),
		1px -1px 0 rgb(252, 250, 250),
		-1px 1px 0 rgb(252, 250, 250),
		1px 1px 0 rgb(252, 250, 250);
	}

.btn_bet:hover{
	background: linear-gradient(to right, rgb(44, 4, 63), rgba(104, 38, 184, 0.681));
}
.btn:hover{
	background: linear-gradient(to right, rgb(81, 56, 4), rgba(216, 161, 19, 0.681));
}
.btn_money:hover{
	background: linear-gradient(to right, rgb(7, 1, 67), rgba(37, 90, 252, 0.681));
}

.btn_category:hover{
	background: linear-gradient(to right, rgb(4, 27, 21), rgb(22, 193, 113));
}
table {
  width: 100%;
  background: white;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
	padding: 5px;
  text-align: center;
}
#nav {
	width: 100%;
	top: 0;
	position: fixed;
	margin: 0;
	padding: 0;
	list-style: none;
	background: linear-gradient(to right, #041B15, #16C172);
	box-shadow: 0px 10px 20px #041B15
}
#nav ul {
	top: 0;
	
}

#nav li {
	float: left;
	display: block;
	padding: 14px 45px;
	padding-bottom: 30px;
	color: rgb(255, 255, 255);
	font-size: 23px;
	text-shadow:
	-0.55px -0.55px 0 rgb(0, 0, 0),
	0.5px -0.5px 0 rgb(0, 0, 0),
	-0.55px 0.55px 0 rgb(0, 0, 0),
	0.5px 0.5px 0 rgb(0, 0, 0);
	font-weight: bold;
}
.matchup_container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.matchup_card {
	background-color: white;
	justify-content: center;
	border-style: solid;
	border-width: 2px;
	background: rgba(18, 131, 143, 0.879);
	padding: 20px 22px;
	margin-top: 100px;
	width: 800px;
}
.team_column {
	width: 140px;
}

.login-form{
	height: 1000px;
}
.main-container{
	margin-top: 100px;
}
.wager-form-container{
	margin-top: 100px;
	margin-bottom: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}

.addfunds{
	margin-top: 100px;
	font-size: 32px;
}

@import url(https://fonts.googleapis.com/css?family=Exo:100);

@-webkit-keyframes bg-scrolling-reverse {
	100% {
		background-position: 50px 50px;
	}
}
@-moz-keyframes bg-scrolling-reverse {
	100% {
	  background-position: 50px 50px;
	}
}
@-o-keyframes bg-scrolling-reverse {
	100% {
		background-position: 50px 50px;
	}
}
@keyframes bg-scrolling-reverse {
	100% {
		background-position: 50px 50px;
	}
}
@-webkit-keyframes bg-scrolling {
	0% {
		background-position: 50px 50px;
	}
}
@-moz-keyframes bg-scrolling {
	0% {
    background-position: 50px 50px;
}
}
@-o-keyframes bg-scrolling {
	0% {
		background-position: 50px 50px;
	}
}
@keyframes bg-scrolling {
	0% {
		background-position: 50px 50px;
	}
}

body {
	margin-top: 13.5rem;
	color: rgb(8, 58, 45) !important;
	font-family: 'Exo 2', sans-serif;
  text-align: center;

  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC") repeat 0 0;
  -webkit-animation: bg-scrolling-reverse 0.92s infinite;

  -moz-animation: bg-scrolling-reverse 0.92s infinite;

  -o-animation: bg-scrolling-reverse 0.92s infinite;

  animation: bg-scrolling-reverse 0.92s infinite;

  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
}
body::before {
	content: "SPORTSBOOK";
  font-size: 8rem;
  font-weight: 100;
  font-style: normal;
}
.profile{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.wager_card {
    display: block;
    justify-content: center;
    border-style: solid;
    border-width: 2px;
    border-color: chartreuse;
    margin-top: 10px;
    width: 1354px;
    background-color: white;
    margin-bottom: 10px;
}
.wallet{
	size: 500px;
	width: 514px;
	font-size: 40px;
}
.login_box{
	font-size: 20px;
}
.vocab{
	text-align: left;
	margin: 200px;
	margin-top: 75px;
	font-weight: bold;
	font-size: 22px;
}